
//pre > code { background-color: $background; }

html { -webkit-font-smoothing: antialiased; } /* only if background darker than font */

pre.highlight{
  line-height: 1rem;
  & > code{
    font-size: .8rem;
  }
}

figure.highlight {
  background: $background;
  color: $primary;
  padding: 1rem;
  border-radius: 0.5rem;

  code{
    font-size: .8rem;
  }


  .hll { background-color: $selected; }

  .lineno {
    background-color: $lineno-background;
    color: $lineno-color;
  }

  /* --- Generics --- */
  .ge { font-style: italic; } /* emph */
  .gs { font-weight: bold; } /* strong */

  /* --- Operators --- */
  .o { color: $operator; } /* Operator */
  .ow { color: $operator; font-weight: bold; } /* Word */

  /* --- Comments --- */
  .c { color: $comment; font-style: italic; } /* Comment */
  .cm { color: $comment; font-style: italic; } /* Multi-line */
  .cp { color: $comment; font-style: italic; } /* Preproc */
  .c1 { color: $comment; font-style: italic; } /* Single */
  .cs { color: $comment; font-style: italic; } /* Special */

  /* --- Names --- */
  .n { color: $primary; } /* Name */
  .py { color: $primary; } /* Property */
  .nl { color: $primary; } /* Label */
  .ni { color: $primary; } /* Entity */
  .nb { color: $primary; } /* Builtin */ /* shell commands */
  .bp { color: $primary; } /* Builtin.Pseudo */
  .nf { color: $secondary; } /* Function */
  .na { color: $secondary; } /* Attribute */
  .nx { color: $secondary; } /* Other */
  .nc { color: $namespace; } /* Class */
  .nn { color: $primary; } /* Namespace */
  .no { color: $scoped; } /* Constant */
  .ne { color: $scoped; } /* Exception */
  .nd { color: $operator; } /* Decorator */
  .nt { color: $operator; } /* Tag */

  /* --- Keywords --- */
  .kn { color: $operator; font-weight: bold; } /* Namespace */
  .k { color: $keyword; font-weight: bold; } /* Keyword */
  .kc { color: $keyword; } /* Constant */
  .kd { color: $keyword; } /* Declaration */
  .kp { color: $keyword; } /* Pseudo */
  .kr { color: $keyword; } /* Reserved */
  .kt { color: $namespace; } /* Type */

  /* --- Variables --- */
  .nv { color: $scoped; } /* Variable */
  .vc { color: $scoped; } /* Class */
  .vg { color: $scoped; } /* Global */
  .vi { color: $scoped; } /* Instance */

  /* --- Numerals --- */
  .m { color: $numeric; } /* Number */
  .il { color: $numeric; } /* Long */
  .mf { color: $numeric; } /* Float */
  .mh { color: $numeric; } /* Hex */
  .mi { color: $numeric; } /* Integer */
  .mo { color: $numeric; } /* Oct */

  /* --- Strings --- */
  .s { color: $string; } /* String */
  .sr { color: $string; } /* Regex */
  .sb { color: $string; } /* Backtick */
  .s2 { color: $string; } /* Double */
  .sh { color: $string; } /* Heredoc */
  .sx { color: $string; } /* Other */
  .s1 { color: $string; } /* Single */
  .ss { color: $string; } /* Symbol */
  .se { color: $numeric; } /* Escape */
  .si { color: $numeric; } /* Interpol */
  .sc { color: $primary; } /* Char */
  .sd { color: $comment; } /* Doc */

  /* --- Other Literals --- */
  .l { color: $numeric; } /* Literal */
  .ld { color: $string; } /* Date */

  /* --- Typographic Elements --- */
  .p { color: $primary; } /* Punctuation */
  .w { color: $primary; } /* Whitespace */ /* shouldn't this have a background-color instead ? */

  /* --- Others --- */
  .err { color: $scoped; } /* Error */
  .gp { color: $namespace; } /* shell prompt */

  /* --- Style --- */
  .gi { color: $string; } /* inserted */
  .gd { color: $scoped; } /* deleted */
  .gh { color: $primary; font-weight: bold; } /* heading */
  .gu { color: $operator; font-weight: bold; } /* subheading */
}

pre {
  margin-bottom: 0;
  font-size: 100%;
}
.code { padding-left: .8rem; }

.highlight > code {
  color: $secondary;
}
