.post-layout {

  @import "highlighter";

  .post-meta {
    font-size: smaller;
  }

  code.highlighter-rouge {
    color: var(--green);
  }

  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }

}
