

$primary: #4d4d4c;
$secondary: #4271ae;
$background: #eeeeee;
$lineno-background: #eeeeee;
$lineno-color: #6a6a6a;
$selected: #d6d6d6;
$operator: #008000;
$keyword: #008000;
$namespace: #dc3545;
$comment: #8e908c;
$scoped: #c82829;
$numeric: #008000;
$string: #ba2121;
